html {
  font-size:15px;
}
body {
  font-family:'Segoe UI','Roboto','Arial';
  background:#f4f4f4;
}
#TicketActivityContainer,#DescriptionField > div.ReadOnlyTextBlock {
  font-size:13px;
  font-family:'Segoe UI','Roboto','Arial';
  line-height:20px;
}
/*
#outermostMiddleContainer.WithoutNews {
  width:80%;
  margin:auto;
}*/
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_TitleBarPlaceHolder_TicketSearchGridTitleBar, #ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ButtonContainer {
  display:none;
}
.searchGridViewContainer {
    top: 0px;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView > tbody > tr > td > div.gridViewScrollableContainer {
  height:calc(100vh - 69px) !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView {
  width:100% !important;
  overflow-x:hidden;
  background:#ccc;
  height:100%;
}
#outermostMiddleContainer {
  overflow-y:hidden;
}
.grid .header, .dxgvHeader_Default {
  background-image:none;
  background:#334140;
  color:white;
  padding-top:2px !important;
  padding-bottom:2px !important;
}
.dxgvHeader_Default {
  border-right:none;
  padding-left:2px !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXHeaderTable > tbody > tr.dxgvFilterRow_Default,#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable > tbody > tr:nth-child(1) {
  display:none;
}
.MessageBarContainer>.MessageBar.Alert {
  background-color:#d9dfe1;
}
.MessageBarContainer>.MessageBar.Alert>.Highlight{
  display:none;
}
#outermostMiddleContainer.WithoutNews {
    top: 0;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable, #ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXHeaderTable {
  table-layout:initial !important;
  margin-top:.25rem;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable td.dxgv {
  padding-top:.4rem !important;
  padding-bottom:.4rem !important;
  font-size:.8rem;
  height:auto !important;
  overflow-x:none;
}
td.dxgvTable_Default {
  display:none;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable,#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXHeaderTable {
  /* Tables */
  margin:0;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable tr {
  background:#fff;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable tr:hover {
  background:#e7e7e7;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable td {
  
  color:#555;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable td:nth-child(1) {
  width:4% !important;
  padding-left:0;
  padding-right:0;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable td:nth-child(2) {
  width:10% !important;
  padding-left:0;
  padding-right:0;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable td:nth-child(3) {
  width:11.75% !important;
  padding-left:0;
  padding-right:0;
}

#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable td:nth-child(4) {
  /* Ticket Title*/
  width:32.5% !important;
  font-weight:500;
  font-size:1rem;
  color:#222;
  padding-left:0;
  padding-right:8px;
  padding-top:6px!important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable td:nth-child(5) {
  /* Taskfire Priority*/
  width:9.75% !important;
  padding-left:0px;
  padding-right:0;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable td:nth-child(6) {
  width:8.5% !important;
  padding-left:8px;
  padding-right:0;
  margin-right:4px;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable td:nth-child(7) {
  /* Create Date*/
  width:10.5% !important;
  padding-left:8px;
  padding-right:0;
  text-align:left;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXMainTable td:nth-child(8) {
  width:13% !important;
  font-weight:500;
  color:#222;
  padding-left:0;
  padding-right:0;
  font-size:.9rem;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView > tbody > tr > td > div.gridViewScrollableContainer {
  width:100% !important;
}

#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_col0 {
  width:3.5% !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_col3 {
  width:10% !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_col1 {
  width:11.5% !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_col2 {
  width:8% !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_col4 {
  width:32% !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_col5 {
  /* Taskfire Priority*/
  width:10% !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_col6 {
  width:8% !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_col7 {
  /* Taskfire Status*/
  width:8.5% !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_col10 {
  width:10% !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_col8 {
  width:11% !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_col19 {
  /* Contact */
  width:13.5% !important;
}
#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView > tbody > tr > td > div {
  width:100% !important;
}

#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView > tbody > tr > td > div.gridViewScrollableContainer {
  overflow-x:hidden !important;
  overflow-y:auto !important;
}

.dxpButton_Default {
  height:24px;
  width:24px;
}
.dxpCurrentPageNumber_Default {
  padding:0px 8px;
  font-size:1.2rem;
  font-weight:700;
  text-decoration:none;
}
.dxgvPagerBottomPanel_Default {
  padding-bottom:8px;
  padding-top:7px;
  background:#e1e1e1;
  border-top:1px #bbb solid;
  /*background:#394a65;
  color:white !important;*/
}

#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXPagerBottom > tbody > tr > td > table > tbody > tr > td.dxpSummary_Default {
  text-transform:uppercase;
  font-weight:500;
  /*color:white;*/
}

#ctl00_ctl00_OutermostMiddleContainerContentPlaceHolder_PageContentPlaceHolder_ClientPortalTicketSearchGridView_ClientPortalTicketSearchGridView_DXHeadersRow0 > td {
  font-size:.75rem !important;
}
